.ev-timeline {
  padding: 60px 0px;
}

.tl-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}


.tl-title {
  font-size: 30px;
  color: #ff00c8;
  font-weight: 650;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Maven Pro', 'Inter', sans-serif;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 30px;
}

.tl-title-dark {
  margin: 0px 5px 0px 20px;
}

.tl-title-light {
  color: #ffffff;
  margin: 0px 20px 0px 5px;
}

.tl-ruler {
  height: 5px;
  width: 100%;
  background: linear-gradient(90deg, #8100f9, #ff00e15c, #ff00e100);
}

.ruler-rev {
  background: linear-gradient(-90deg, #8100f9, #ff00e15c, #ff00e100);
}

.tl-head-info {
  font-size: 18px;
  color: #bbbbbb;
  width: 60%;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.tl-day {
  padding: 0px 60px;
}

.day-title {
  display: flex;
  align-items: center;
  justify-content: top;
  margin: 40px 0px 50px;
}

.tl-day-title {
  font-size: 16px;
  font-family: 'inter', 'Maven Pro', sans-serif;
  font-weight: 600;
  color: #ffd700;
  text-transform: uppercase;
  background-color: rgba(30, 30, 30, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 25px;
  border-radius: 50px;
}


.tl-day-ruler {
  height: 2px;
  flex: 1;
  background: linear-gradient(90deg, #8100f9, #7f00a5);
}

.day-ruler-rev {
  background: linear-gradient(-90deg, #8100f9, #7f00a5);
}

.tl-events-container {}

.tl-event-layout {
  display: flex;
  align-items: stretch;
  justify-content: left;
  margin-top: 10px;
}

.tl-bar-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
}

.tl-time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.tl-clock-icon {
  font-size: 25px;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff00c8;
  color: #ffffff;
}

.tl-time {
  color: #ff00c8;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter', 'Maven Pro', sans-serif;
}

.tl-bar {
  width: 4px;
  height: 100%;
  background: linear-gradient(0deg, #fbda00c5, #ff00c8);
  border-radius: 10px;
}

.tl-event-card-wrap {
  padding-bottom: 40px;
  width: 80%;
}

.tl-event-card-bg {
  background-image: url(../../../public/assets/TlEventBg.jpg);
  border-radius: 20px;
  background-size: 55%;
  background-position: right;
}

.tl-event-card {
  background: linear-gradient(90deg, rgba(40, 2, 62, 0.75), rgba(31, 0, 49, 0.75));
  display: flex;
  border: 1px solid #8A2BE2;
  backdrop-filter: blur(8px);
  border-radius: inherit;
  overflow: hidden;
}

.tl-event-image {
  width: 45%;
  display: block;
  padding: 2px;
  border-radius: inherit;
  background-size: cover;
  background-position: center;
  box-shadow: 3px 0 20px #2100338a;

}

.tl-event-data {
  width: 55%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.tl-event-tag {
  font-size: 14px;
  background: #8A2BE2;
  color: #ffffff;
  font-weight: 500;
  padding: 3px 15px 7px;
  margin-bottom: 15px;
  border-radius: 100px;
  max-width: fit-content;
}


.tl-event-title {
  font-size: 25px;
  color: #ffffff;
  font-family: 'Inter', 'Maven Pro', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

.tl-venue {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', 'Maven Pro', sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.tl-venue>span {
  margin-right: 5px;
}

.tl-event-des {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', 'Maven Pro', sans-serif;
  margin-bottom: 40px;
}

.tl-btn-wrap {
  text-align: right;
  padding-right: 10px;
}

.tl-event-btn {
  color: rgb(203, 203, 203);
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter', 'Maven Pro', sans-serif;
  text-transform: uppercase;
  padding: 8px 20px;
  background: linear-gradient(to right, #7a00ff, #bc00ff);
  border: none;
  border-radius: 100px;
  box-shadow: 0 0 8px #a700ff8a;
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.tl-event-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #9a00ff, #d500ff);
}