:root{
  --section-margin: 8vw;
}

.home {
  width: 100%;
}

.h-hero-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.h-hero-mask {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  -webkit-mask-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.7));
  mask-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.7));
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

#tsparticles {
  width: 100%;
  height: 100%;
}

.h-hero {
  width: 100%;
  padding: var(--section-margin);
}

.h-hero-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: top;
}

.h-title-wrap {
  display: flex;
  flex-direction: column;
}

.h-title-text, .h-title-year {
  font-size: clamp(1.5rem, 15vw, 6rem);
  font-weight: 700;
  color: #ffffff;
  font-family: 'Lexend Exa', 'Maven Pro', sans-serif;
  margin: 0px;
  padding: 0px;
}

.tagline-wrap {
  position: relative;
  color: transparent;
}

.hero-tagline {
  font-size: 1.8rem;
  font-family: 'Maven Pro', 'Inter', sans-serif;
  font-weight: 600;
  padding: 10px 5px;
  text-transform: uppercase;
}

.tag-overlap {
  color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0;
}

.h-hero-btns {
  display: flex;
  gap: 30px;
  padding-top: 20px;
}

.h-regBtn {
  padding: 10px 30px;
  position: relative;
  color: #00000000;
  font-size: 18px;
  font-weight: 400;
  border: none;
  font-family: 'Nunito Sans', 'Maven Pro', sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, #8c00ff, #3e0077);
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  text-wrap: nowrap;
}

.h-regBtn::before {
  background: #9900ff;
  content: "";
  position: absolute;
  top: 200%;
  left: -50%;
  z-index: 1;
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 400%;
  filter: blur(15px);
  transform: translate(-50%, -50%) rotate(60deg);
}

.h-regBtn::after {
  content: "Register Now";
  padding: 14px 30px 10px;
  position: absolute;
  color: #ffffff;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
}

.h-regBtn:hover::before {
  height: 10%;
  top: -10%;
  left: 110%;
}

.h-regBtn:hover {
  transform: scale(1.03);
}

.h-eventBtn {
  padding: 12px 30px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #8C00ff;
  font-family: 'Nunito Sans', 'Maven Pro', sans-serif;
  text-transform: uppercase;
  background: none;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
  text-wrap: nowrap;
  position: relative;
}

.h-eventBtn:hover {
  transform: scale(1.02);
}

.h-eventBtn::after, .h-eventBtn::before {
  background: linear-gradient(90deg, #8C00ff, #320055);
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-70%, -50%);
  z-index: -1;
  transition: all 0.3s ease-out;
  width: 100%;
  height: 100%;
  filter: blur(15px);
}

.h-eventBtn::after {
  background: linear-gradient(-90deg, #8C00ff, #320055);
  z-index: -5;
  transform: translate(70%, 50%);
}

.h-eventBtn:hover::before {
  transform: translate(-50%, -20%);
}

.h-eventBtn:hover::after {
  transform: translate(50%, 20%);
}

.h-hero-updates {
  display: flex;
  align-items: center;
  padding: 30px 5px;
}

.h-hero-live {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  font-family: 'Nunito Sans', 'Maven Pro', sans-serif;
  text-transform: uppercase;
}

.blink {
  height: 15px;
  width: 15px;
  background-color: #ff0088;
  margin-right: 20px;
  border-radius: 50%;
  animation: glow 2s ease-in-out infinite;
  box-shadow: 0px 0px 10px #ff0088;
}

@keyframes glow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

.h-hero-anime>img {
  height: 400px;
  animation: Float 4s ease-in-out infinite;
  transform: translateY(-20px);
}


@keyframes Float {
  0% {
    transform: translatey(20px) scale(1);
  }

  50% {
    transform: translatey(-10px) scale(1.05);
  }

  100% {
    transform: translatey(20px) scale(1);
  }
}

.h-description {
  padding: 0px var(--section-margin);
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Nunito Sans', 'Maven Pro', sans-serif;
}

.main-title {
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Anybody', 'Maven Pro', sans-serif;
  letter-spacing: 1px;
  color: #AF25FF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 30px;
}

.title-light {
  color: #ffffff;
  margin: 0px 20px 0px 10px;
}

.title-ruler {
  flex: 1;
  height: 4px;
  width: 100px;
  border-radius: 50px;
  background: linear-gradient(45deg, #FF00E3, #AE22FF);
}

.h-des-textbox {
  background-color: #3B0063;
  border: 1px solid #AF25FF;
  display: flex;
  gap: 20px;
}

.des-text {
  width: 65%;
  padding: 35px 0px 35px 35px;
}

.text-title {
  font-size: 22px;
  font-weight: 500;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  font-family: 'Maven Pro', 'Inter', sans-serif;
  margin-bottom: 20px;
}

.text-content {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  color: rgba(255, 255, 255);
  font-family: 'League Spartan', 'Maven Pro', sans-serif;
  margin-bottom: 30px;
}

.text-content>p {
  margin: 15px 0px;
}

.feature {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.feature-icon {
  width: 50px;
  font-size: 24px;
  color: #FFD700;
  padding-top: 6px;
  text-align: center;
}

.feature-data>h4 {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  color: #FF1493;
  text-transform: uppercase;
  font-family: 'Maven Pro', 'Inter', sans-serif;
  margin-bottom: 5px;
}

.feature-data>p {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'League Spartan', 'Maven Pro', sans-serif;
}

.des-image {
  width: 35%;
  display: block;
  padding: 10px;
}

.des-image>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.stats {
  width: 100%;
  display: flex;
  color: #ffffff;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0px 40px;
}

.stat {
  text-align: center;
}

.stat-value {
  font-family: 'Baloo 2', 'Anybody', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}

.stat-tag {
  font-family: 'blinker', 'Anybody', sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5px 0px;
}

.home-carousel {
  padding: 0px var(--section-margin);
}




.Intro {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #8400ff5d;
  opacity: 0.5;
}

.Event {
  /* height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, #7b00ff,
      #ae00ff 100%);
  opacity: 0.8; */
}

.merch {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, #7b00ff,
      #ae00ff 100%);
  opacity: 0.5;
}