.home {
  width: 100%;
}

.h-hero-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.h-hero-mask {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  -webkit-mask-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.7));
  mask-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.7));
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

#tsparticles {
  width: 100%;
  height: 100%;
}

.h-hero {
  width: 100%;
  padding: 60px var(--section-margin);
  transition: all 0.2s ease;
}

.h-hero-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.h-hero-title {
  position: relative;
  z-index: 5;
}

.h-title-wrap {
  display: flex;
  flex-direction: column;
}

.h-title-text, .h-title-year {
  font-size: clamp(3rem, 7.5vw, 5.7rem);
  font-weight: 700;
  color: #ffffff;
  font-family: 'Lexend Exa', 'Maven Pro', sans-serif;
  margin: 0px;
  padding: 0px;
  text-wrap: nowrap;
}


.hero-tagline {
  height: 6vmax;
  color: #ffffff;
  font-size: clamp(1rem, 2vw, 3rem);
  font-family: 'Maven Pro', 'Inter', sans-serif;
  font-weight: 600;
  margin: 10px 5px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}

.h-hero-des {
  color: #ffffffc7;
  font-size: clamp(1rem, 1.4vw, 2rem);
  font-family: 'League Spartan', 'Inter', sant-serif;
  line-height: 150%;
  font-weight: 300;
  padding: 10px 5px;
  text-transform: uppercase;
}

.h-hero-btns {
  display: flex;
  gap: 30px;
  padding-top: 20px;
  transition: all 0.2s ease;
}

.h-regBtn {
  padding: 10px 25px;
  position: relative;
  color: #00000000;
  font-size: 18px;
  font-weight: 400;
  border: none;
  font-family: 'Nunito Sans', 'Maven Pro', sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, #8c00ff, #3e0077);
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  text-wrap: nowrap;
}

.h-regBtn::before {
  background: #9900ff;
  content: "";
  position: absolute;
  top: 200%;
  left: -50%;
  z-index: 1;
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 400%;
  filter: blur(15px);
  transform: translate(-50%, -50%) rotate(60deg);
}

.h-regBtn::after {
  content: "Register Now";
  padding: 8px 30px;
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.h-regBtn:hover::before {
  height: 10%;
  top: -10%;
  left: 110%;
}

.h-regBtn:hover {
  transform: scale(1.03);
}

.h-eventBtn {
  padding: 10px 25px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #8C00ff;
  font-family: 'Nunito Sans', 'Maven Pro', sans-serif;
  text-transform: uppercase;
  background: none;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
  text-wrap: nowrap;
  position: relative;
}

.h-eventBtn:hover {
  transform: scale(1.02);
}

.h-eventBtn::after, .h-eventBtn::before {
  background: linear-gradient(90deg, #8C00ff, #320055);
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-70%, -50%);
  z-index: -1;
  transition: all 0.3s ease-out;
  width: 100%;
  height: 100%;
  filter: blur(15px);
}

.h-eventBtn::after {
  background: linear-gradient(-90deg, #8C00ff, #320055);
  z-index: -5;
  transform: translate(70%, 50%);
}

.h-eventBtn:hover::before {
  transform: translate(-50%, -20%);
}

.h-eventBtn:hover::after {
  transform: translate(50%, 20%);
}

.h-hero-updates {
  display: flex;
  align-items: center;
  padding: 30px 5px;
}

.h-hero-live {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  font-family: 'Nunito Sans', 'Maven Pro', sans-serif;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.blink {
  height: 15px;
  width: 15px;
  background-color: #ff0088;
  margin-right: 20px;
  border-radius: 50%;
  animation: glow 2s ease-in-out infinite;
  box-shadow: 0px 0px 10px #ff0088;
}

@keyframes glow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

.h-hero-anime>img {
  height: 35vw;
  animation: Float 4s ease-in-out infinite;
  transform: translateY(-20px);
  transition: all 0.2s ease;
  z-index: -10;
  position: relative;
}


@keyframes Float {
  0% {
    transform: translatey(20px) scale(1);
  }

  50% {
    transform: translatey(-10px) scale(1.05);
  }

  100% {
    transform: translatey(20px) scale(1);
  }
}

.stats {
  width: 100%;
  display: flex;
  gap: 10px;
  color: #ffffff;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0px 50px;
  flex-wrap: wrap;
}

.stat {
  text-align: center;
}

.stat-value {
  font-family: 'Baloo 2', 'Anybody', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}

.stat-tag {
  font-family: 'blinker', 'Anybody', sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5px 0px;
}

.home-carousel {
  padding: 0px var(--section-margin);
}

.merch-section {
  padding: 0px var(--section-margin);
}

.merch {
}

.speaker-section {
  padding: 0px var(--section-margin);
}


@media (max-width: 1200px) {

  .h-hero-btns {
    gap: 20px;
  }

  .h-regBtn, .h-eventBtn {
    font-size: 16px;
    padding: 8px 18px;
  }

  .h-regBtn::after {
    padding: 5px 20px;
  }

  .h-hero-live {
    font-size: 14px;
  }

  .blink {
    height: 10px;
    width: 10px;
  }
}

@media (max-width: 992px) {

  .h-hero-anime>img {
    height: 38vw;
  }

  .stat-value {
    font-size: 40px;
  }

  .stat-tag {
    font-size: 20px;
  }
}


@media (max-width: 768px) {

  .h-hero {
    padding: 70px 7vw 50px;
  }

  .h-hero-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .h-hero-anime {
    position: absolute;
    align-self: flex-end;
    opacity: 0.2;
  }

  .h-hero-anime>img {
    height: 50vw;
  }

  .h-hero-btns {
    gap: 15px;
  }

  .h-regBtn, .h-eventBtn {
    font-size: 14px;
    padding: 5px 10px;
  }


}

@media (max-width: 480px) {
  .stats {
    margin: 15px 0px 35px;
    gap: 10px 0px;
  }

  .stat {
    flex: 1 1 45%;
  }

  .stat-value {
    font-size: 35px;
    font-weight: 700;
  }

  .stat-tag {
    font-size: 20px;
    margin-top: -5px;
  }
}