.sponsors {
  width: 100%;
}

.s-hero-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.s-hero-mask {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-mask-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.7));
  mask-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.7));
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

#tsparticles {
  width: 100%;
  height: 100%;
}

.s-hero {
  width: 100%;
  padding: 60px var(--section-margin);
  transition: all 0.2s ease;
  overflow: hidden;
}

.s-hero-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.s-hero-title {
  position: relative;
  z-index: 5;
  width: 65%;
}

.s-title-wrap {
  display: flex;
  flex-direction: column;
}

.s-title-text {
  font-size: clamp(2.7rem, 7.5vw, 5.7rem);
  font-weight: 700;
  color: #ffffff;
  font-family: 'Lexend Exa', 'Maven Pro', sans-serif;
  margin: 0px;
  padding: 0px;
}

.s-hero-tagline {
  height: 6vmax;
  color: #ffffff;
  font-size: clamp(1rem, 2vw, 3rem);
  font-family: 'Maven Pro', 'Inter', sans-serif;
  font-weight: 600;
  margin: 10px 5px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}

.s-hero-des {
  color: #ffffffc7;
  font-size: clamp(1rem, 1.4vw, 2rem);
  font-family: 'League Spartan', 'Inter', sans-serif;
  line-height: 150%;
  font-weight: 300;
  padding: 10px 5px;
  text-transform: uppercase;
}

.s-hero-tags {
  color: #AF25FF;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 0px 20px
}

.s-hero-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #1F0031;
  padding: 5px 15px 7px;
  border-radius: 100px;
  border: 1px solid #AF25FF;
}

.s-hero-tag>div {
  color: #ffffff;
  font-size: clamp(0.8rem, 1vw, 2rem);
}

.s-tag2 {
  color: #FF1497;
  background-color: #1c001e;
  border: 1px solid #FF1497;
}

.s-tag3 {
  color: #FFCC00;
  background-color: #1e1d00;
  border: 1px solid #FFCC00;
}

.s-hero-anime {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-hero-anime>img {
  height: 400px;
  animation: Rotation 15s linear infinite;
  scale: 1.2;
  position: relative;
}


@keyframes Rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.legacy-sponsors {
  padding: 60px var(--section-margin);
}

.s-spon-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px 10px 100px;
  flex-wrap: wrap;
}

.s-sponsor-wrap {
  width: 30%;
  border-radius: 15px;
  background: linear-gradient(0deg, #180028, #2E004D);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.s-sponsor-wrap:hover {
  transform: translateY(-10px);
}

.s-sponsor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px;
  gap: 15px;
}

.s-sponsor-img {
  width: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #8C00ff;
}

.s-sponsor-img>img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  border-radius: inherit;
  object-fit: cover;
}

.s-sponsor-info {
  color: #ffD700;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Nunito sans', 'Maven Pro', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  text-align: center;
}

.s-sponsor-info>p {
  font-size: 14px;
  font-weight: 400;
  color: #cccccc;
}

.s-sponsor-bar {
  height: 10px;
  width: 100%;
  background: linear-gradient(90deg, #8C00ff, #320055);
}


@media (max-width: 1200px) {
  .s-hero-tag {
    font-size: clamp(1rem, 2vw, 3rem);
  }

  .s-sponsor-wrap {
    width: 30%;
  }
}

@media (max-width: 992px) {

  .s-hero-tags {
    gap: 10px;
  }

  .s-hero-tag {
    padding: 4px 10px 6px;
  }

  .s-hero-anime>img {
    scale: 1;
    opacity: 0.5;
  }


  .s-sponsor-wrap {
    width: 35%;
  }

}

@media (max-width: 768px) {

  .s-hero {
    padding: 70px 7vw 50px;
  }

  .s-hero-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .s-hero-title {
    width: 100%;
  }

  .s-hero-anime {
    width: 90%;
    position: absolute;
    top: 0%;
    overflow: hidden;
    opacity: 0.2;
  }

  .s-hero-anime>img {
    width: 100%;
    left: 0%;
    scale: 1;
  }

  .sponsors-content {
    gap: 20px;
  }

  .s-sponsor-wrap {
    width: 45%;
  }

  .s-sponsor-info {
    font-size: 14px;
  }

  .s-hero-tags {
    flex-wrap: wrap;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .sponsors-content {
    padding: 10px 10px 50px;
  }

  .s-sponsor {
    padding: 20px 15px;
  }

  .s-sponsor-wrap {
    width: 70%;
  }

  .s-sponsor-info {
    font-size: 14px;
  }
}