.navbar {
  position: relative;
  overflow: hidden;
}

.desktopNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-image: linear-gradient(90deg, #1f00318f, #09000f);
  z-index: 5;
  position: relative;
  border-bottom: 1px solid #470180;
  box-shadow: 0 2px 50px rgba(31, 0, 49, 0.5);
  backdrop-filter: blur(8px);
  user-select: none;
  /* overflow: hidden; */
  text-wrap: nowrap;
  transition: all 0.2s ease-in-out;
}

#navParticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(8px);
}

.navBox {
  height: 100%;
  width: 100%;
  z-index: 0;
  padding: 0px 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.navLeft {
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  align-self: flex-start;
  transition: all 0.2s ease;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo>img {
  height: 80%;
  aspect-ratio: 1;
  object-fit: contain;
  transform: translateY(-1px);
  transition: all 0.2s ease;
}

.logoText {
  font-family: 'Lexend Exa', 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}

.entropyTitle {
  color: #ae22ffb6;
  background: linear-gradient(120deg,
      rgb(255, 255, 255, 0) 40%,
      rgb(231, 224, 234) 50%,
      rgb(255, 255, 255, 0) 60%);
  background-size: 200% 100%;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 4s linear infinite;
}

.year-title {
  color: #ffcc00a3;
  margin-left: 10px;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 40%,
      rgb(255, 255, 246) 50%,
      rgba(255, 255, 255, 0) 60%);
  background-size: 200% 100%;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 4s linear infinite;
  animation-delay: 1s;
}



.entropyTitle {
  /* display: inline-block; */
}

@keyframes shine {
  0% {
    background-position: 100%;
  }

  50% {
    background-position: -90%;
  }

  100% {
    background-position: -90%;
  }
}


.navRight {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;
  transition: all 0.3s ease;
}

.filler1 {
  height: 100%;
  flex: 2;
}

.filler {
  height: 100%;
  flex: 1;
}

.navTabs {
  height: 100%;
  display: flex;
  gap: calc(max(15px, 2.5vw));
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  margin: 0px 20px;
}

.page-link {
  color: #ffffff;
  font-size: 16x;
  font-family: 'AR one sans', 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.6;
  text-decoration: none;
  transition: all 0.3s ease;
}


.navActive {
  opacity: 1;
  font-weight: 600;
}

.navHover:hover {
  transform: scale(0.9);
  opacity: 0.75;
}

.sideButton {
  display: inline-block;
  padding: 4px 20px;
  text-transform: uppercase;
  font-family: 'nunito sans', 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #ffcc00, #EA00FF);
}

.burger {
  font-size: 35px;
  color: #ffffff;
  display: flex;
  z-index: 10;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(100%, -50%);
  cursor: pointer;
  transition: all 0.3s ease;
}

.burgerIcon {
  transition: all 0.3s ease;
}

.burgerIcon>path:nth-child(1) {
  color: #ffcc00;
  z-index: 10;
}

.burgerIcon>path:nth-child(2) {
  position: relative;
  color: #AE22FF;
  opacity: 1;
}

.burger>span {
  transition: all 0.3s ease;
  display: flex;
}

.burger:hover>span {
  transform: scale(1.1);
}

.burger-click {
  transform: rotate(180deg);
}


.phClose>* {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(-50%, 50%);
  font-size: 25px;
  background-color: #7b00ff;

  color: #ffffff;
  cursor: pointer;
}

.phoneNav {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  scrollbar-width: none;
  visibility: hidden;
  overflow-y: scroll;
}

.dim-show {
  visibility: visible;
}

.sidebar {
  background: linear-gradient(120deg, rgba(31, 0, 49, 0.7), rgba(9, 0, 15, 0.7));
  border-left: 1px solid #470180;
  border-bottom: 1px solid #470180;
  backdrop-filter: blur(10px);
  position: absolute;
  right: 0;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.nav-show {
  transform: translateX(0%);
}


.phHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 20px 20px;
  gap: 20px;
  border-bottom: 1px solid #470180;
}

.phTitle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.phLogo>img {
  height: 50px;
}

.phEntropy {
  color: #ffffff;
  font-family: 'Lexend Exa', 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -1px;

  span {
    font-size: 20px;
    display: block;
    color: #ffcc00;
    margin: 5px 0px;
  }
}

.phDes {
  border-radius: 10px;
  /* flex: 1; */
  color: #ffffff;
  background-color: #230039;
  padding: 15px 20px;
  margin: 10px;
}

.phTag {
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Inter', 'Nunito Sans', sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

.phDates {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: 'Inter', 'Nunito Sans', sans-serif;
}

.phTab {
  padding: 20px;
}

.phHead {
  color: #ffcc00;
  font-size: 16px;
  font-family: 'Inter', 'Nunito Sans', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin: 20px 5px;
}


.phNav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
  transition: all 0.2s ease;
}

.phLink {
  color: #ffffff;
  font-size: 20px;
  font-family: 'AR one sans', 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.6;
  text-decoration: none;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: opacity 0.3s ease;
}

.phActive {
  opacity: 1;
  font-weight: 600;
  background: linear-gradient(90deg, rgba(84, 0, 162, 0.3), rgba(57, 0, 65, 0.3));
  border: 1px solid #470180;
}

.phHover:hover {
  border: 1px solid #470180;
  opacity: 0.75;
}



.phSocial {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0px 10px 50px;
}

.phSocial>a {
  text-decoration: none;
  font-size: 20px;
  display: flex;
  padding: 8px;
  border-radius: 5px;
  opacity: 0.8;
  background: linear-gradient(45deg, #7b00ff,
      #ae00ff 100%);

  * {
    color: #FFFFFF;
  }
}



@media (max-width: 1200px) {

  .navBox {
    padding: 0px 30px;
  }

  .entropyTitle {
    font-size: 25px;
  }


}

@media (max-width: 980px) {
  .navRight {
    transform: translateX(120%);
  }

  .burger {
    right: 40px;
    transform: translate(0%, -50%);
  }

}

@media (max-width: 480px) {

  .desktopNav {
    height: 50px;
  }

  .navLeft {
    gap: 10px;
  }

  .entropyTitle {
    font-size: 20px;
  }

  .logo>img {
    height: 70%;
  }

  .navBox {
    padding: 0px 15px 0px 15px;
  }

  .burger {
    right: 20px;
    font-size: 30px;
  }

  .phHeader {
    padding: 60px 15px 15px;
  }

  .phLogo>img {
    height: 30px;
  }

  .phEntropy {
    font-size: 18px;

    span {
      font-size: 14px;
      margin: 0px;
    }
  }

  .phDes {
    margin: 0px;
  }

  .phTag {
    font-size: 14px;
  }

  .phDates {
    font-size: 16px;
    margin-top: 5px;
  }

  .phTab {
    padding: 15px;
  }

  .phHead {
    font-size: 14px;
    margin: 15px 5px;
  }

  .phLink {
    font-size: 18px;
    padding: 6px 15px;
  }

}