.carousel-container {
  position: relative;
  overflow-x: hidden;
}

.carousel-wrapper {
  color: #ffffff;
  display: flex;
  margin: 40px 0px 30px;
  align-items: stretch;
}

.slide-wrap {
  min-width: 30%;
  width: 30%;
  padding: 0px 10px;
  display: flex;
  transition: all 0.2s ease-in-out;
}

.h-slide-active {
  transform: scale(1.08) translateY(-15px);
  padding: 0px 24px;
  z-index: 2;
}

.h-slide {
  background: linear-gradient(120deg, #4B0082, #130f16);
  width: 100%;
  border: 1px solid #8A2BE2;
  border-radius: 10px;
  padding: 30px 20px 20px;
  display: flex;
  flex-direction: column;
  aspect-ratio: 4/5;
}

.h-slide-icon {
  font-size: 32px;
  padding: 10px;
  display: inline-flex;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #0F0F16;
  background-color: #FFD700;
}

.slide-title {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Inter', 'Maven Pro', sans-serif;
  letter-spacing: 1px;
  color: #FF1493;
  margin: 20px 0px;
}

.slide-desc {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Maven Po', 'Inter', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  line-height: 140%;
  flex: 1;
}

.slide-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 5px;
  text-transform: uppercase;
}

.slide-info {
  color: #FFD700;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', 'Maven Pro', sans-serif;
}

.slide-tag {
  padding: 5px 20px;
  font-size: 12px;
  color: #ffffff;
  background-color: rgba(137, 43, 226, 0.3);
  border-radius: 15px;
  font-family: 'Inter', 'Maven Pro', sans-serif;
  font-weight: 500;
}

.slide-button {
  width: 100%;
  text-align: center;
  background-color: #8A2BE2;
  padding: 10px 10px 12px;
  border-radius: 8px;
  text-transform: uppercase;
}


.controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.controls>div {
  font-size: 35px;
  color: #ffffff;
  aspect-ratio: 1/1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.controls>div:hover {
  background-color: rgba(0, 0, 0, 0.8);
  scale: 1.1;
}

.slider-helper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 30px 0px;
}

.slider-dots {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.dot {
  width: 60px;
  height: 15px;
  background-color: rgb(234, 152, 255);
  border-radius: 10px 50px 10px 50px;
  transition: width 0.2s ease, opacity 0.2s ease;
  cursor: pointer;
}

.dot:hover {
  opacity: 0.7;
}

.active {
  background: linear-gradient(90deg, #FF1493, #ff14c4);
  width: 120px;
}

.all-events-btn {
  font-size: 14px;
  font-weight: 400;
  color: #FFD700;
  padding: 6px 20px;
  border-radius: 50px;
  border: 1px solid #FFD700;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Inter';
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.all-events-btn>span:last-child {
  display: flex;
  align-items: center;
  transform: scale(1.5);
  margin-left: 5px;
  transition: all 0.2s ease-in-out;
}

.all-events-btn:hover {
  scale: 1.05;
}

.all-events-btn:hover>span:last-child {
  transform: scale(1.5);
  margin-left: 8px;
}

.slide-counter {
  color: #ffffff;
  font-size: 20px;
  margin: 0px 30px 0px 10px;
  font-family: 'baloo 2', 'Blinker', sans-serif;
  font-weight: 700;
  text-wrap: nowrap;
}

.count {
  font-size: 35px;
  color: #FF1493;
}


@media(max-width: 992px) {
  .slide-wrap {
    padding: 0px 6px;
  }

  .h-slide-active {
    padding: 0px 17px;
    transform: scale(1.08) translateY(-12px);
  }

  .h-slide {
    padding: 30px 10px 20px;
  }

  .h-slide-icon {
    font-size: 25px;
  }

  .slide-title {
    font-size: 20px;
  }

  .slide-desc {
    font-size: 14px;
  }

  .slide-info {
    font-size: 14px;
  }

  .slide-tag {
    padding: 4px 15px;
  }

  .slide-button {
    padding: 6px 10px 8px;
  }

  .controls {
    padding: 20px;
  }

  .dot {
    height: 10px;
    width: 40px;
  }

  .active {
    width: 80px;
  }

}

@media (max-width: 768px) {

  .slide-counter {
    margin: 0px 20px 0px 10px;
  }

  .slider-dots {
    gap: 5px;
  }

  .dot {
    height: 8px;
    width: 20px;
    border-radius: 5px;
  }

  .active {
    width: 50px;
  }

  .slide-wrap {
    min-width: 60%;
  }

  .h-slide-active {
    min-width: 66%;
  }

  .h-slide-active {
    padding: 0px 25px;
    transform: scale(1.08) translateY(-12px);
  }

  .h-slide {
    aspect-ratio: 6/7;
  }
}