body {
  background-color: #11001c;
}

:root {
  --section-margin: 10vw;
}

@keyframes appear {
  from {
    opacity: 0.6;
    scale: 0.9;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.appear {
  animation: appear ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}


.h-description {
  padding: 0px var(--section-margin);
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Nunito Sans', 'Maven Pro', sans-serif;
}

.main-title {
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Anybody', 'Maven Pro', sans-serif;
  letter-spacing: 1px;
  color: #AF25FF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 30px;
}

.title-light {
  color: #ffffff;
  margin: 0px 20px 0px 10px;
}

.title-ruler {
  flex: 1;
  height: 4px;
  width: 100px;
  border-radius: 50px;
  background: linear-gradient(45deg, #FF00E3, #AE22FF);
}

.h-des-textbox {
  border-radius: 20px;
  background-color: #3B0063;
  border: 1px solid #AF25FF;
  display: flex;
  gap: 20px;
}

.des-text {
  width: 65%;
  padding: 35px 0px 35px 35px;
}

.text-title {
  font-size: 22px;
  font-weight: 500;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  font-family: 'Maven Pro', 'Inter', sans-serif;
  margin-bottom: 20px;
}

.text-content {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  color: rgba(255, 255, 255);
  font-family: 'Maven Pro', sans-serif;
  margin-bottom: 30px;
}

.text-content>p {
  margin: 15px 0px;
}

.feature {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.feature-icon {
  width: 50px;
  font-size: 24px;
  color: #FFD700;
  padding-top: 6px;
  text-align: center;
}

.feature-data>h4 {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  color: #FF1493;
  text-transform: uppercase;
  font-family: 'Maven Pro', 'Inter', sans-serif;
  margin-bottom: 5px;
}

.feature-data>p {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-family:  'Maven Pro', sans-serif;
}

.des-image {
  width: 35%;
  display: block;
  padding: 10px;
}

.des-image>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}